.idea
_site
node_modules
.jekyll-cache/
package-lock.json
Gemfile.lock
packages-zip/*
.DS_Store
icons-outlined/
github
src/_icons/test.svg
src/test.svg
src/test*.svg
.jekyll-metadata
icons-react/dist/
compile-options.json
new/
new/*
yarn.lock
dist/
_import.csv
_import.tsv

.yarn
.yarnrc.yml

packages/icons*/icons/*
packages/icons*/src/icons/*
packages/icons*/src/icons.js
packages/icons*/src/icons.ts
packages/icons*/LICENSE
packages/icons*/stats/*
packages/icons*/icons/*

.turbo
.sass-cache

!/**/.gitkeep
*.tgz
