---
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="{{ site.baseurl }}/assets/style.css">
	<title>Tabler Icons</title>
</head>
<body>
<div class="container">
	<div class="box">

		{% assign last-icon = site.icons | sort: date | reverse | first %}
		{% capture last-icon %}
		{% include icon.html name=last-icon.slug %}
		{% endcapture %}

		<div class="row">
			<div class="col">

				<div class="icon-preview-wrap">
					<div class="icon-preview">
						{{ last-icon }}
					</div>
				</div>
			</div>
			<div class="col-aside">

				<div class="mb">
					<button class="btn">
						{{ last-icon }} Button
					</button>
					<button class="btn btn-icon">
						{{ last-icon }}
					</button>
					<button class="btn btn-link">
						{{ last-icon }} Button
					</button>
				</div>

				<div class="input-icon mb">
					<input type="text" class="input" value="Input value">
					{{ last-icon }}
				</div>

				<div class="input-icon icon-left mb">
					{{ last-icon }}
					<input type="text" class="input" placeholder="Input placeholder">
				</div>

				<div class="mb">
					<div class="avatar">{{ last-icon }}</div>
					<div class="avatar avatar-sm">{{ last-icon }}</div>
				</div>

				<div class="tabs mb">
					<a class="tab active">{{ last-icon }} Tab 1</a>
					<a class="tab">Tab 2</a>
					<a class="tab">Tab 3</a>
				</div>

				<div class="mb">
					<a href="#">{{ last-icon }} Link</a>
				</div>
			</div>
		</div>


		<div class="icons-list">
			{% for icon in site.icons %}
			<div class="icon" title="{{ icon.slug }}">
				{% assign name = icon.slug %}
				{% include icon.html name=name %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</body>
</html>
