---
---
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
	<title>Tabler Icons</title>

	<style>
		body {
			display: none;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="box">

		{% assign first-icon = site.icons | reverse | first %}
		{% assign slug = first-icon.slug %}
		{% capture first-icon %}
		{% include icon.html name=slug %}
		{% endcapture %}

		<div class="row mb js-icon-manager">
			<div class="col">

				<div class="icon-preview-wrap">
					<div class="icon-preview">
						{{ first-icon }}
						{{ first-icon }}
					</div>
				</div>
			</div>
			<div class="col-aside">

				<h1 class="icon-title js-icon-name">{{ slug }}</h1>

				<div class="mb">
					<button class="btn">
						{{ first-icon }} Button
					</button>
					<button class="btn btn-icon">
						{{ first-icon }}
					</button>
					<button class="btn btn-link">
						{{ first-icon }} Button
					</button>
				</div>

				<div class="input-icon mb">
					<input type="text" class="input" value="Input value">
					{{ first-icon }}
				</div>

				<div class="input-icon icon-left mb">
					{{ first-icon }}
					<input type="text" class="input" placeholder="Input placeholder">
				</div>

				<div class="mb">
					<div class="avatar">{{ first-icon }}</div>
					<div class="avatar avatar-sm">{{ first-icon }}</div>
				</div>

				<div class="tabs mb">
					<a class="tab active">{{ first-icon }} Tab 1</a>
					<a class="tab">Tab 2</a>
					<a class="tab">Tab 3</a>
				</div>

				<div class="mb">
					<a href="#">{{ first-icon }} Link</a>
				</div>

			</div>
		</div>


		<div class="mb">
			<div class="icons-list">
				{% for icon in site.icons %}
				{% assign name = icon.slug %}
				<a href="#" class="icons-list-icon js-icon" title="{{ icon.slug }}" data-icon="{{ name }}">
					{% include icon.html name=name %}
				</a>
				{% endfor %}
			</div>
		</div>

		<div class="mb">
			<div class="icons-list icons-list-squares">
				{% for icon in site.icons %}
				{% assign name = icon.slug %}
				<a href="#" class="icons-list-icon js-icon" title="{{ icon.slug }}" data-icon="{{ name }}">
					{% include icon.html name=name %}
				</a>
				{% endfor %}
			</div>
		</div>

	</div>
</div>

<script src="{{ site.baseurl }}/jquery-3.4.1.slim.min.js"></script>
<script>

	$(document).ready(function () {
		$('body').on('click', '.js-icon', function (e) {
			var icon = $(this).attr('data-icon');
			
			$('.js-icon-name').html(icon);
			localStorage.setItem('icon', icon);

			$('.js-icon-manager svg').replaceWith($(this).find('>svg:eq(0)').clone());

			e.preventDefault();
			return false;
		});

		var icon = localStorage.getItem('icon');
		if (icon) {
			$('.js-icon[data-icon="' + icon + '"]').click();
		}

		document.body.style.display = "block"
	});
</script>
</body>
</html>
