---
---
<!doctype html>
<html lang="en">
<head>
	<title>Tabler Icons</title>
    <meta content="Tabler Icons" property="og:title" />
    <meta content="Over 2400 pixel-perfect icons for web design" property="og:description" />
    <meta content="https://tabler-icons.io/" property="og:url" />
    <meta content="https://i.imgur.com/3dzpXuc.png" property="og:image" />
    <meta content="#1f6bc4" data-react-helmet="true" name="theme-color" />
    <meta name="twitter:card" content="summary_large_image">
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<style>
		body {
			display: none;
		}
	</style>
</head>
<body>

{{ content }}

<script>
	$(document).ready(function(){
		document.body.style.display = "block";
	});
</script>

</body>
</html>
