---
layout: default
---

<div class="container">
	<div class="box">

		{% assign icons = site.icons %}

		{% assign first-icon = site.icons | reverse | first %}
		{% assign slug = first-icon.slug %}
		{% capture first-icon %}
		{% include icon.html name=slug %}
		{% endcapture %}

		<div class="row mb js-icon-manager">
			<div class="col">

				<div class="icon-preview-wrap">
					<div class="icon-preview">
						{{ first-icon }}
						{{ first-icon }}
					</div>
				</div>
			</div>
			<div class="col-aside">

				<h1 class="icon-title js-icon-name">{{ slug }}</h1>

				<div class="mb">
					<button class="btn">
						{{ first-icon }} Button
					</button>
					<button class="btn btn-icon">
						{{ first-icon }}
					</button>
					<button class="btn btn-link">
						{{ first-icon }} Button
					</button>
				</div>

				<div class="input-icon mb">
					<input type="text" class="input" value="Input value">
					{{ first-icon }}
				</div>

				<div class="input-icon icon-left mb">
					{{ first-icon }}
					<input type="text" class="input" placeholder="Input placeholder">
				</div>

				<div class="mb">
					<div class="avatar">{{ first-icon }}</div>
					<div class="avatar avatar-sm">{{ first-icon }}</div>

					<a href="#">{{ first-icon }} Link</a>
				</div>

				<div class="tabs mb">
					<a class="tab active">{{ first-icon }} Tab 1</a>
					<a class="tab">Tab 2</a>
					<a class="tab">Tab 3</a>
				</div>


				<div class="mt-auto">
					<input class="input-range js-input-range" type="range" min="1.25" max="2.75" step=".25" value="2">
				</div>

			</div>
		</div>

		<div class="mb">
			{% include toolbar.html
			toolbar='arrow-back-up,arrow-forward-up,printer,paint|bold,italic,underline,strikethrough,emphasis|align-left,align-center,align-right,align-justified,line-height|list,list-check|link,photo,table|sort-ascending,sort-descending|indent-increase,indent-decrease|subscript,superscript|minus,omega,chart-area-line,pencil|eraser,settings,typography,letters-case,clear-formatting|parentheses,brackets,braces,terminal'
			%}
			{% include toolbar.html
			toolbar='check,checks,x|currency-euro,currency-dollar,currency-bitcoin,currency-pound,currency-rupee,currency-yen|electric-scooter,bike,scooter,car,bus,forklift,tir,firetruck,ambulance,tractor,truck,truck-return,truck-delivery'
			%}
			{% include toolbar.html
			toolbar='letter-a,letter-b,letter-c,letter-d,letter-e,letter-f,letter-g,letter-h,letter-i,letter-j,letter-k,letter-l,letter-m,letter-n,letter-o,letter-p,letter-q,letter-r,letter-s,letter-t,letter-u,letter-v,letter-w,letter-x,letter-y,letter-z'
			%}

			{% assign social-icons = '' %}
			{% for icon in icons %}
			{% if icon.slug contains 'brand-' %}
			{% assign social-icons = social-icons | append: icon.slug | append: ',' %}
			{% endif %}
			{% endfor %}
			{% assign size = social-icons | size | minus: 1 %}
			{% assign social-icons = social-icons | slice: 0, size %}
			{% include toolbar.html toolbar=social-icons %}
		</div>

		<h2 class="icon-subtitle">{{ site.icons.size }} icons</h2>

		{% assign icons = icons | group_by: "category" %}

		<div class="mb">

			{% for category in icons %}

			{% if category.name %}
			<h3 class="category-subtitle">{{ category.name }}</h3>
			{% endif %}

			<div class="icons-list">

				{% for icon in category.items %}
				{% assign name = icon.slug %}
				<a href="#" class="icons-list-icon js-icon" title="{{ icon.slug }}" data-icon="{{ name }}">
					{% include icon.html name=name %}
				</a>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('body')
			.on('click', '.js-icon', function (e) {
				var icon = $(this).attr('data-icon');

				$('.js-icon').removeClass('active');
				$(this).addClass('active');

				$('.js-icon-name').html(icon);
				localStorage.setItem('icon', icon);

				$('.js-icon-manager svg').replaceWith($(this).find('>svg:eq(0)').clone());

				e.preventDefault();
				return false;
			})
			.on('input', '.js-input-range', function (e) {
				$('.js-icon svg').css('stroke-width', $(this).val());

				e.preventDefault();
				return false;
			});


		var icon = localStorage.getItem('icon');
		if (icon) {
			$('.js-icon[data-icon="' + icon + '"]').eq(0).click();
		}
	});
</script>
