---
layout: default
---
<div class="container">
	<div class="box">
		<div class="mb">
			<div class="icons-list">
				{% for icon in collections.icons %}
				{% assign name = icon.fileSlug %}
				<div class="icons-list-icon js-icon" title="{{ name }}" data-icon="{{ name }}">
					{% icon name %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="box">
		<div class="mb">
			<div class="icons-list">
				{% for icon in collections.icons %}
				{% assign name = icon.fileSlug %}
				<div class="icons-list-icon js-icon" title="{{ name }}" data-icon="{{ name }}">
					{% include "icon.html", name="name", stroke="1.25" %}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
