---
layout: default
---

<div class="container">
  {% for category in icons %}
	<div class="box">
		<div class="mb">
			<div class="icons-list">
				<h3 class="box-title">{{ category.type }}</h3>
        {% for icon in category.icons %}
				{% assign name = icon.slug %}
				<div class="icons-list-icon js-icon" title="{{ icon.slug }}" data-icon="{{ name }}">
					{% include "icon" name=name %}
          {{ icon.content }}
				</div>
        {% endfor %}
			</div>
		</div>
	</div>
  {% endfor %}
</div>
