---
layout: default
permalink: tags.html
---

<div class="container">
	<div class="box">
		{% assign i = 0 %}
		<table class="table mb">
			{% for icon in collections.icons %}
			<tr>
				<td class="td-1">{% include "icon.html", name=icon.slug %}</td>
				<th>{{ icon.fileSlug }}</th>
				<td>{{ icon.data.tags | join: ', ' }}</td>
				<td>{{ icon.data.category }}</td>
				<td>{{ icon.data.version }}</td>
				<td>{{ icon.data.unicode }}</td>
			</tr>
			{% assign tags-count = icon.data.tags | size %}
			{% if tags-count == 0 %}
			{% assign i = i | plus: 1 %}
			{% endif %}
			{% endfor %}
		</table>

		<p>Untagged: {{ i }}</p>
	</div>
</div>
